@charset "UTF-8";

/* Reset all Margins and Padding */
* 
{
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans";
    box-sizing: border-box;     
}

/* html */

html, body { height: 100vh; }

/* Grid layout */

.container { display: grid; }

div.container 
{
	grid-template-rows: auto 2fr auto;
	min-height: 100%;
	height: 100%;
	
	text-align: center;
}

.row { padding: 30px; }

.row-1 
{
  grid-row: 1/2;
  grid-column: 1/4;
}

.row-2 
{
  grid-row: 2/3;
  grid-column: 1/4;
}

.row-3 
{
  grid-row: 3/4;
  grid-column: 1/4;
}

main { align-items: center; }

/* Header */

h1
{
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	color: #606060;
}

/* Form */

fieldset 
{ 
	padding: 10px;
	margin-bottom: 2px; 
}

form { margin: 2px auto; }

form input
{
    display: block;
    padding: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

div.login 
{
	margin: 0 auto;
	padding: 10px;
	border-top: 1px #606060 solid;
	border-bottom: 1px #606060 solid;
}

/* login-help */

div#login-help p a 
{ 
	text-decoration: none;
	color: blue; 
}

div#login-help { margin-top: 5px; }

div#login-help p a:hover { text-decoration: underline; }

div#login-help, input { font-size: 18px; }

/* Footer */

footer  
{
   font-size: 18px;
   
   /* line-height is the vertical distance 
   	  between lines of text in a content block */
   line-height: 22px;
}

/*

Child combinator selector(>). This means it will only select list items that are direct children of an unordered list. 
In otherwords, it only looks one level down the markup structure, no deeper. So if there was another unordered 
list nested deeper, the list item children of it will not be targeted by this selector.

 */

footer ul > li { display: inline; }

footer ul > li a
{
	color: blue;
	text-decoration: none;
}

footer ul > li a:hover { text-decoration: underline; }
